<h1 class="center"> Movie </h1>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center">
      <div class="col s4 m4 l4">
        <p>Title</p>
      </div>
      <div class="col s4 m4 l4">
        <p>Genre</p>
      </div>
      <div class="col s4 m4 l4">
        <p>Actor</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12 center">
      <div class="col s4 m4 l4">
        <h4 class="show"><%= @movie.title %></h4>
      </div>
      <div class="col s4 m4 l4">
        <h4 class="show"><%= @movie.genre %></h4>
      </div>
      <div class="col s4 m4 l4">
        <h4 class="show"><%= @movie.actor %></h4>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <h5><a href='/movies'>Back</a></h5>
</div>