// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4{
  color:purple;
}

.center {
  text-align: center;
}

.movie{
  margin-left:100px;
}

.right{
  text-align:right;
}

.fright{
  float:right;
}

.box{
  padding-left: 50px;
}



.show{
  text-transform: uppercase;
}